[user]
	email = {{WORK_GIT_EMAIL}}
	name = {{WORK_GIT_NAME}}
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main

[includeIf "gitdir:~/Personal/"]
	path = ~/.gitconfig-personal
