# Secrets
.env
.env.*
*.pem
*.key
id_rsa*
*.secret

# OS / editor
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

# Config
config.env

git/.gitconfig
git/.gitconfig-personal

# Stow internal
.stow-local-ignore

lockscreen.png