.env
.env.*
*.pem
*.key
id_rsa*
*.secret

.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

config.env

git/.gitconfig
git/.gitconfig-personal

__pycache__/
cwc/.config/cwc/waybar/style-active.css
mako/.config/mako/config.bak
kitty/.config/kitty/current-theme.conf

backups/

.stow-local-ignore

lockscreen.png

cwc/.config/cwc/wallpaper.png
cwc/.config/cwc/wallpaper-inverted.png
